In [1]:
import pandas as pd
import numpy as np

In [2]:
col_names = ["empty","T-Day","T-Month","T-Year", "Code", "No", "R-Day","R-Month","R-Year",
         "Origin Court", "Origin Code", "Origin No", "Origin Year", "Specific Case Type",
         "Judge 1", "Judge 2", "Judge 3", "Judge 4", "Judge 5", "Judge 6", "Judge 7", 
         "Case coming for", "Case OutCome", "Reason of adjournment", "N-Day","N-Month",
         "N-Year","P-M", "P-F","P-Org.", "D-M", "D-F", "D-Org.", "Legal Rep", "Witness-P", "Witness-D",
         "Crim-Custody","Other Details"]

In [3]:
len(col_names)

38

In [4]:
sample_data = pd.read_excel("../Data Analysis/Data/Sample Data.xlsx", names = col_names)
sample_data.head(6)

,empty,T-Day,T-Month,T-Year,Code,No,R-Day,R-Month,R-Year,Origin Court,...,P-F,P-Org.,D-M,D-F,D-Org.,Legal Rep,Witness-P,Witness-D,Crim-Custody,Other Details
0,NaN,Court station name: \n(Entry required.),NaN,NaN,A. N. Other,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN
2,NaN,\nToday's date\n\n\n\n\n\n,NaN,NaN,\nCase Number and date of Registration)\n\n,NaN,NaN,NaN,NaN,\n*Appeal cases only: ...,...,NaN,NaN,\nNo. of defendants/accused\n\n\n\n\n,NaN,NaN,\nDo any of the parties have legal representat...,\nNo. of witnesses testified in court today\n\n\n,NaN,"\nCriminal cases only: \nOf the accused, how m...",\nOther important details of the case
3,NaN,Day,Month,Year,Code,No.,Day,Month,Year,Name of Court,...,F,Org.,M,F,Org.,(Y/N),P \n(Enter No.),D\n(Enter No.),(Enter No.),(Free text)
4,NaN,3,Apr,2023,QRCR,E642,3,Apr,2023,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
5,NaN,3,Apr,2023,QRCR,E1411,31,Oct,2022,NaN,...,NaN,1,1,NaN,NaN,No,NaN,1,0,NaN

In [5]:
# dropping the header roles
sample_data.drop(index = [0,1,2,3], inplace = True)

In [6]:
sample_data.head()

,empty,T-Day,T-Month,T-Year,Code,No,R-Day,R-Month,R-Year,Origin Court,...,P-F,P-Org.,D-M,D-F,D-Org.,Legal Rep,Witness-P,Witness-D,Crim-Custody,Other Details
4,NaN,3,Apr,2023,QRCR,E642,3,Apr,2023,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
5,NaN,3,Apr,2023,QRCR,E1411,31,Oct,2022,NaN,...,NaN,1,1,NaN,NaN,No,NaN,1,0,NaN
6,NaN,3,Apr,2023,QRCR,E649,3,Apr,2023,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
7,NaN,3,Apr,2023,QRCR,E638,3,Apr,2023,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
8,NaN,3,Apr,2023,QRCRMISC,E109,3,Apr,2023,NaN,...,NaN,1,NaN,2,NaN,No,NaN,NaN,2,NaN

In [7]:
sample_data.reset_index(drop = True, inplace = True)

In [8]:
sample_data.head()

,empty,T-Day,T-Month,T-Year,Code,No,R-Day,R-Month,R-Year,Origin Court,...,P-F,P-Org.,D-M,D-F,D-Org.,Legal Rep,Witness-P,Witness-D,Crim-Custody,Other Details
0,NaN,3,Apr,2023,QRCR,E642,3,Apr,2023,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
1,NaN,3,Apr,2023,QRCR,E1411,31,Oct,2022,NaN,...,NaN,1,1,NaN,NaN,No,NaN,1,0,NaN
2,NaN,3,Apr,2023,QRCR,E649,3,Apr,2023,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
3,NaN,3,Apr,2023,QRCR,E638,3,Apr,2023,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
4,NaN,3,Apr,2023,QRCRMISC,E109,3,Apr,2023,NaN,...,NaN,1,NaN,2,NaN,No,NaN,NaN,2,NaN

In [9]:
# dropping the empty column
sample_data.drop(columns = ['empty'], inplace =True)

In [10]:
sample_data.head()

,T-Day,T-Month,T-Year,Code,No,R-Day,R-Month,R-Year,Origin Court,Origin Code,...,P-F,P-Org.,D-M,D-F,D-Org.,Legal Rep,Witness-P,Witness-D,Crim-Custody,Other Details
0,3,Apr,2023,QRCR,E642,3,Apr,2023,NaN,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
1,3,Apr,2023,QRCR,E1411,31,Oct,2022,NaN,NaN,...,NaN,1,1,NaN,NaN,No,NaN,1,0,NaN
2,3,Apr,2023,QRCR,E649,3,Apr,2023,NaN,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
3,3,Apr,2023,QRCR,E638,3,Apr,2023,NaN,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
4,3,Apr,2023,QRCRMISC,E109,3,Apr,2023,NaN,NaN,...,NaN,1,NaN,2,NaN,No,NaN,NaN,2,NaN

In [11]:
sample_data.columns

Index(['T-Day', 'T-Month', 'T-Year', 'Code', 'No', 'R-Day', 'R-Month',
       'R-Year', 'Origin Court', 'Origin Code', 'Origin No', 'Origin Year',
       'Specific Case Type', 'Judge 1', 'Judge 2', 'Judge 3', 'Judge 4',
       'Judge 5', 'Judge 6', 'Judge 7', 'Case coming for', 'Case OutCome',
       'Reason of adjournment', 'N-Day', 'N-Month', 'N-Year', 'P-M', 'P-F',
       'P-Org.', 'D-M', 'D-F', 'D-Org.', 'Legal Rep', 'Witness-P', 'Witness-D',
       'Crim-Custody', 'Other Details'],
      dtype='object')

In [12]:
sample_data.dtypes

T-Day                    object
T-Month                  object
T-Year                   object
Code                     object
No                       object
R-Day                    object
R-Month                  object
R-Year                   object
Origin Court             object
Origin Code              object
Origin No                object
Origin Year              object
Specific Case Type       object
Judge 1                  object
Judge 2                  object
Judge 3                  object
Judge 4                  object
Judge 5                  object
Judge 6                  object
Judge 7                  object
Case coming for          object
Case OutCome             object
Reason of adjournment    object
N-Day                    object
N-Month                  object
N-Year                   object
P-M                      object
P-F                      object
P-Org.                   object
D-M                      object
D-F                      object
D-Org.                   object
Legal Rep                object
Witness-P                object
Witness-D                object
Crim-Custody             object
Other Details            object
dtype: object

In [13]:
# create the columns todays Date
# if dtype is a number 
#~ covert  using .astype(str)
sample_data["Today's Date"] = sample_data["T-Day"].astype(str)+"-"+ sample_data["T-Month"]+"-"+ sample_data["T-Year"].astype(str)
sample_data.head()

,T-Day,T-Month,T-Year,Code,No,R-Day,R-Month,R-Year,Origin Court,Origin Code,...,P-Org.,D-M,D-F,D-Org.,Legal Rep,Witness-P,Witness-D,Crim-Custody,Other Details,Today's Date
0,3,Apr,2023,QRCR,E642,3,Apr,2023,NaN,NaN,...,1,1,NaN,NaN,No,NaN,NaN,1,NaN,3-Apr-2023
1,3,Apr,2023,QRCR,E1411,31,Oct,2022,NaN,NaN,...,1,1,NaN,NaN,No,NaN,1,0,NaN,3-Apr-2023
2,3,Apr,2023,QRCR,E649,3,Apr,2023,NaN,NaN,...,1,1,NaN,NaN,No,NaN,NaN,1,NaN,3-Apr-2023
3,3,Apr,2023,QRCR,E638,3,Apr,2023,NaN,NaN,...,1,1,NaN,NaN,No,NaN,NaN,1,NaN,3-Apr-2023
4,3,Apr,2023,QRCRMISC,E109,3,Apr,2023,NaN,NaN,...,1,NaN,2,NaN,No,NaN,NaN,2,NaN,3-Apr-2023

In [14]:
# convert Today's Date from string to a date type
sample_data["Today's Date"] = pd.to_datetime(sample_data["Today's Date"], format = '%d-%b-%Y')

In [15]:
sample_data.dtypes

T-Day                            object
T-Month                          object
T-Year                           object
Code                             object
No                               object
R-Day                            object
R-Month                          object
R-Year                           object
Origin Court                     object
Origin Code                      object
Origin No                        object
Origin Year                      object
Specific Case Type               object
Judge 1                          object
Judge 2                          object
Judge 3                          object
Judge 4                          object
Judge 5                          object
Judge 6                          object
Judge 7                          object
Case coming for                  object
Case OutCome                     object
Reason of adjournment            object
N-Day                            object
N-Month                          object
N-Year                           object
P-M                              object
P-F                              object
P-Org.                           object
D-M                              object
D-F                              object
D-Org.                           object
Legal Rep                        object
Witness-P                        object
Witness-D                        object
Crim-Custody                     object
Other Details                    object
Today's Date             datetime64[ns]
dtype: object

In [17]:
# drop the columns that have been combined to a new one
sample_data.drop(columns = ['T-Day','T-Month','T-Year'], inplace = True)

In [18]:
# move the Today's column to the first column
sample_data.insert(0, "Today's Date", sample_data.pop("Today's Date"))

In [19]:
sample_data.head()

,Today's Date,Code,No,R-Day,R-Month,R-Year,Origin Court,Origin Code,Origin No,Origin Year,...,P-F,P-Org.,D-M,D-F,D-Org.,Legal Rep,Witness-P,Witness-D,Crim-Custody,Other Details
0,2023-04-03,QRCR,E642,3,Apr,2023,NaN,NaN,NaN,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
1,2023-04-03,QRCR,E1411,31,Oct,2022,NaN,NaN,NaN,NaN,...,NaN,1,1,NaN,NaN,No,NaN,1,0,NaN
2,2023-04-03,QRCR,E649,3,Apr,2023,NaN,NaN,NaN,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
3,2023-04-03,QRCR,E638,3,Apr,2023,NaN,NaN,NaN,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
4,2023-04-03,QRCRMISC,E109,3,Apr,2023,NaN,NaN,NaN,NaN,...,NaN,1,NaN,2,NaN,No,NaN,NaN,2,NaN

In [20]:
# creating new column (Reg. Date) for concat R-(Day,Month,Year), and inserting in its correct location
sample_data.insert(3, "Reg. Date", sample_data["R-Day"].astype(str)+ "-"+sample_data["R-Month"]+ "-"+ sample_data["R-Year"].astype(str))
sample_data.head()

,Today's Date,Code,No,Reg. Date,R-Day,R-Month,R-Year,Origin Court,Origin Code,Origin No,...,P-F,P-Org.,D-M,D-F,D-Org.,Legal Rep,Witness-P,Witness-D,Crim-Custody,Other Details
0,2023-04-03,QRCR,E642,3-Apr-2023,3,Apr,2023,NaN,NaN,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
1,2023-04-03,QRCR,E1411,31-Oct-2022,31,Oct,2022,NaN,NaN,NaN,...,NaN,1,1,NaN,NaN,No,NaN,1,0,NaN
2,2023-04-03,QRCR,E649,3-Apr-2023,3,Apr,2023,NaN,NaN,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
3,2023-04-03,QRCR,E638,3-Apr-2023,3,Apr,2023,NaN,NaN,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
4,2023-04-03,QRCRMISC,E109,3-Apr-2023,3,Apr,2023,NaN,NaN,NaN,...,NaN,1,NaN,2,NaN,No,NaN,NaN,2,NaN

In [21]:

# creating new column (Next activity Date) for concat R-(Day,Month,Year), and inserting in its correct location
sample_data.insert(23, "N. activity Date", sample_data["N-Day"].astype(str)+ "-"+sample_data["N-Month"]+ "-"+ sample_data["N-Year"].astype(str))
sample_data.head()

,Today's Date,Code,No,Reg. Date,R-Day,R-Month,R-Year,Origin Court,Origin Code,Origin No,...,P-F,P-Org.,D-M,D-F,D-Org.,Legal Rep,Witness-P,Witness-D,Crim-Custody,Other Details
0,2023-04-03,QRCR,E642,3-Apr-2023,3,Apr,2023,NaN,NaN,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
1,2023-04-03,QRCR,E1411,31-Oct-2022,31,Oct,2022,NaN,NaN,NaN,...,NaN,1,1,NaN,NaN,No,NaN,1,0,NaN
2,2023-04-03,QRCR,E649,3-Apr-2023,3,Apr,2023,NaN,NaN,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
3,2023-04-03,QRCR,E638,3-Apr-2023,3,Apr,2023,NaN,NaN,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
4,2023-04-03,QRCRMISC,E109,3-Apr-2023,3,Apr,2023,NaN,NaN,NaN,...,NaN,1,NaN,2,NaN,No,NaN,NaN,2,NaN

In [22]:
sample_data.columns

Index(['Today's Date', 'Code', 'No', 'Reg. Date', 'R-Day', 'R-Month', 'R-Year',
       'Origin Court', 'Origin Code', 'Origin No', 'Origin Year',
       'Specific Case Type', 'Judge 1', 'Judge 2', 'Judge 3', 'Judge 4',
       'Judge 5', 'Judge 6', 'Judge 7', 'Case coming for', 'Case OutCome',
       'Reason of adjournment', 'N-Day', 'N. activity Date', 'N-Month',
       'N-Year', 'P-M', 'P-F', 'P-Org.', 'D-M', 'D-F', 'D-Org.', 'Legal Rep',
       'Witness-P', 'Witness-D', 'Crim-Custody', 'Other Details'],
      dtype='object')

In [23]:
# converting 'Reg. Date' and 'N. activity Date' columns (string) to datetime
sample_data["Reg. Date"] = pd.to_datetime(sample_data["Reg. Date"], format = '%d-%b-%Y')
sample_data["N. activity Date"] = pd.to_datetime(sample_data["N. activity Date"], format = '%d-%b-%Y')
sample_data.head()

,Today's Date,Code,No,Reg. Date,R-Day,R-Month,R-Year,Origin Court,Origin Code,Origin No,...,P-F,P-Org.,D-M,D-F,D-Org.,Legal Rep,Witness-P,Witness-D,Crim-Custody,Other Details
0,2023-04-03,QRCR,E642,2023-04-03,3,Apr,2023,NaN,NaN,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
1,2023-04-03,QRCR,E1411,2022-10-31,31,Oct,2022,NaN,NaN,NaN,...,NaN,1,1,NaN,NaN,No,NaN,1,0,NaN
2,2023-04-03,QRCR,E649,2023-04-03,3,Apr,2023,NaN,NaN,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
3,2023-04-03,QRCR,E638,2023-04-03,3,Apr,2023,NaN,NaN,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
4,2023-04-03,QRCRMISC,E109,2023-04-03,3,Apr,2023,NaN,NaN,NaN,...,NaN,1,NaN,2,NaN,No,NaN,NaN,2,NaN

In [24]:
# dropping unwanted columns
sample_data.drop(columns = ['R-Day','R-Month', 'R-Year','N-Day','N-Month', 'N-Year'], inplace =  True)
sample_data.head()

,Today's Date,Code,No,Reg. Date,Origin Court,Origin Code,Origin No,Origin Year,Specific Case Type,Judge 1,...,P-F,P-Org.,D-M,D-F,D-Org.,Legal Rep,Witness-P,Witness-D,Crim-Custody,Other Details
0,2023-04-03,QRCR,E642,2023-04-03,NaN,NaN,NaN,NaN,"Burglary, housebreaking, entering dwelling-hou...",Hon A N Other,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
1,2023-04-03,QRCR,E1411,2022-10-31,NaN,NaN,NaN,NaN,"Burglary, housebreaking, entering dwelling-hou...",Hon XYZ,...,NaN,1,1,NaN,NaN,No,NaN,1,0,NaN
2,2023-04-03,QRCR,E649,2023-04-03,NaN,NaN,NaN,NaN,Possession of narcotic drugs and psychotropic ...,Hon A N Other,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
3,2023-04-03,QRCR,E638,2023-04-03,NaN,NaN,NaN,NaN,"Grievous harm, maim, assault causing actual bo...",Hon A N Other,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
4,2023-04-03,QRCRMISC,E109,2023-04-03,NaN,NaN,NaN,NaN,Criminal Miscellaneous Application,Hon A N Other,...,NaN,1,NaN,2,NaN,No,NaN,NaN,2,NaN

In [25]:
sample_data.columns

Index(['Today's Date', 'Code', 'No', 'Reg. Date', 'Origin Court',
       'Origin Code', 'Origin No', 'Origin Year', 'Specific Case Type',
       'Judge 1', 'Judge 2', 'Judge 3', 'Judge 4', 'Judge 5', 'Judge 6',
       'Judge 7', 'Case coming for', 'Case OutCome', 'Reason of adjournment',
       'N. activity Date', 'P-M', 'P-F', 'P-Org.', 'D-M', 'D-F', 'D-Org.',
       'Legal Rep', 'Witness-P', 'Witness-D', 'Crim-Custody', 'Other Details'],
      dtype='object')